# Raw Code

In [9]:
def min_max_scaling(data):
    min_val = min(data)
    max_val = max(data)
    scaled_data = [(x - min_val) / (max_val - min_val) for x in data]
    return scaled_data

In [10]:
data = [1, 2, 3, 4, 5]
sealed_data = min_max_scaling(data)
print("Original Data:", data)
print("Min-Max Scaled Data:", sealed_data)

Original Data: [1, 2, 3, 4, 5]
Min-Max Scaled Data: [0.0, 0.25, 0.5, 0.75, 1.0]

# Using Sklearn

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [12]:
data = {"A": [1, 2, 3, 4, 5], "B": [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df.head()

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [13]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaler_df= pd.DataFrame(scaled_data, columns=df.columns)
scaler_df.head()

      A     B
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00