# Standarizatoin (Z Score)

In [10]:
import pandas as pd

In [11]:
data = {"Feature 1": [10, 20, 30, 40, 50], "Feature 2": [5, 15, 25, 35, 45]}
df = pd.DataFrame(data)
df

   Feature 1  Feature 2
0         10          5
1         20         15
2         30         25
3         40         35
4         50         45

In [12]:
def standardize_data(data):
    mean = data.mean()
    std = data.std(ddof=0) # Population standard deviation
    return (data - mean) / std

In [13]:
standardize_df_raw = df.apply(standardize_data)

In [14]:
standardize_df_raw

   Feature 1  Feature 2
0  -1.414214  -1.414214
1  -0.707107  -0.707107
2   0.000000   0.000000
3   0.707107   0.707107
4   1.414214   1.414214

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [16]:
standardize_data = scaler.fit_transform(df)
pd.DataFrame(standardize_data, columns=df.columns)

   Feature 1  Feature 2
0  -1.414214  -1.414214
1  -0.707107  -0.707107
2   0.000000   0.000000
3   0.707107   0.707107
4   1.414214   1.414214